<!DOCTYPE html>  

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="フットサルマッチング">
      <title>sal.com</title>
      <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1>Sal.com</h1>
    <p>〜シンプルにフットサルしたい人のマッチングサイト〜</p>
    <img src ="/pc1.jpg" alt="">
  </body>
  
  