<!DOCTYPE html>  
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>sal.com</title>
      <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1>Sal.com</h1>
    <p>〜シンプルにフットサルしたい人のマッチングサイト〜</p>
  </body>
  <body>
    <img src ="/pc1.jpg">
  </body>
