// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-message {
  text-align: center;
}

body{
    color:#008000;
    font-size: 25px;
    text-align: center;
}
p{
  color:#000;  
}
.Top {
     width: 100vw;
     height: 100vh;
     background-image: url("sal.com/app/assets/images/image top.jpeg");  
     background-size: cover;
     background-position: center;
     
    
}

   